<nav>
    <a (click)="goBack()" class="items-back" class="flex">
        <mat-icon>arrow_back</mat-icon>
    </a>
    <h3 class="title secondary items-h3" id="items-nav">        
        {{department.name}}
        <a (click)="show('overview', $event)">Overview</a>
        <a (click)="show('contact', $event)">Contact</a>
    </h3>      
    <div class="items-nav">
        <a  *ngIf="departmentId > 1" (click)="goPrevious()">Previous</a>
        <a *ngIf="departmentId < max"(click)="goNext()">Next</a>
    </div>
</nav>

{{department.sentence}}

<router-outlet></router-outlet>
